<a href="https://colab.research.google.com/github/hadimoussavi/MyCookbook/blob/master/Iter1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
n=int(input('Entre n value:'))
for i in range(n):
  print('  '*(n-i-1),end='')
  for j in range(i+1):
    print(j+1,end=' ')
  print()

for i in range(n-1):
   print('  '*(i+1),end='')
   for j in range(n-i-1):
     print(j+1,end=' ')
   print()

Entre n value:8
              1
            1 2
          1 2 3
        1 2 3 4
      1 2 3 4 5
    1 2 3 4 5 6
  1 2 3 4 5 6 7
1 2 3 4 5 6 7 8
  1 2 3 4 5 6 7
    1 2 3 4 5 6
      1 2 3 4 5
        1 2 3 4
          1 2 3
            1 2
              1